@mixin ipsize($w) {
  width: $w;
  height: 4rem;
  border-radius: 4px;
  border: 0;
  margin-bottom: 10px;
  background-color: #f5f6f7;

  &:focus {
    outline-width: 0;
  }
  &[placeholder] {
    padding: 5px 10px;
  }
}

@mixin slsize() {
  border-radius: 4px;
  width: 130px;
  height: 4rem;
  border: #1c1e21;
  background-color: #f5f6f7;
}

.form {
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 100999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &_sg {
    margin: 8.9em auto;
    width: 30.8em;
    height: 550px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    .form_ip {
      .ip-first {
        position: relative;
        .icon_warning {
          color: red;
          position: absolute;
          z-index: 20;
          top: 40%;
          right: 0;
          transform: translate(-50%, -50%);
        }
        .icon_hide {
          display: none;
        }
      }
    }
    .form_title {
      display: flex;
      flex-direction: column;
      .closes {
        display: flex;
        justify-content: space-between;
        b {
          font-size: 30px;
        }
        button {
          background: none;
          border: none;
          &:focus {
            outline-width: 0;
          }
        }
      }
    }
    .form_ip > .ip-first > .one {
      @include ipsize(200px);
      &::after {
        content: "Adasd";
      }
    }
    .form_ip > .ip-first > .two {
      @include ipsize(100%);
    }
    .form_ip > .ip-one {
      display: inline-block;
    }
    .form_ip > .ip-three {
      margin-left: 11px;
    }
  }
  &_birth {
    p {
      font-size: 15px;
      color: #606770;
    }
    .sl {
      @include slsize();
      margin-top: -7px;
      margin-bottom: 10px;
    }
    .one {
      margin-right: 10px;
    }
    .two {
      margin-right: 10px;
    }
  }
  &_sex {
    margin-bottom: 15px;
    p {
      font-size: 15px;
      color: #606770;
      & {
        position: relative;
        .icon_warning {
          color: red;
          position: absolute;
          z-index: 20;
          top: 40%;
          right: 0;
          transform: translate(-50%, -50%);
        }
        .icon_hide {
          display: none;
        }
      }
    }
    span {
      border: 1px solid #d8baba;
      padding: 8px;
      border-radius: 4px;
      label {
        margin-right: 61px;
      }
    }
    .two {
      margin-right: 10px;
    }
  }
  &_bt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      width: 200px;
      height: 40px;
      border-radius: 6px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      background: #00a400;
      border: none;
      &:focus {
        outline: 0;
      }
    }
  }
}
